apiVersion: v1
kind: Secret
metadata:
  name: django-secret
  namespace: marco-silva
type: Opaque
stringData:
  SECRET_KEY: changeme-generate-a-real-secret-key
  POSTGRES_PASSWORD: changeme-generate-a-real-password
