apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: marco-silva
type: Opaque
stringData:
  POSTGRES_DB: marcosilva
  POSTGRES_USER: marcosilva
  POSTGRES_PASSWORD: changeme-generate-a-real-password
