{% extends 'base.html' %}

{% block title %}planz{% endblock %}

{% block extra_css %}
{% include "tools/partials/planz_styles.html" %}
{% endblock %}

{% block content %}
<h1 style="font-size: 1.3rem; margin-bottom: 1rem;">planz</h1>
<div id="calendar">
  {% include "tools/partials/calendar.html" %}
</div>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
{% endblock %}
